/* variables */
:root {
  --bg-color: #e8eef0;
  --header-color: #5f5fa2;
  --primary-color: #e3e3ee;
  --text-color: #56575a;
}

body {
    font-family: serif;
    color: var(--text-color);
    background: var(--primary-color)
    
  }

  /* header section */
  header {
  background-color: var(--header-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 30px var(--text-color);
}

header h2 {
  color: var(--primary-color);
  font-size: 2rem;
  padding-left: 4rem;
  margin-top: 1rem;
}

/* navbar */

/* header nav {
  color: var(--header-color);
} */

header ul {
  background: var(--header-color);
}

header li {
  opacity: 80%;
  font-size: 20px;
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header li :hover {
  text-decoration: double;
  color: rgba(255, 255, 255, 0.764);
  text-shadow: 20px 20px 30px rgba(255, 255, 255, 0.764);
}
  


  .jumbotron {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    background: #e0e0f1;
  }

.jumbotron img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.jumbotron div {
  width: 60%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.jumbotron p {
  font-size: 1.2em;
  padding-top: 0.2em;
}

.ProjectCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  

  background-color: var(--header-color);
  margin-bottom: 30px;
  border: 1px solid black;
}

.display-4 {
  text-align: center;
  margin-bottom: 50px;
}
.Card :hover {
  opacity: 100%;
}